{% extends "project/base.html" %}
{% load static %}
{% block title %}Недвижимость{% endblock title %}


{% block main-content %}

{% include "project/forms.html" %}
<a class="btn btn-dark" href="{% url 'export-xls' %}" role="button">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-download" viewBox="0 0 16 16">
    <path d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383"/>
    <path d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708z"/>
  </svg> 
</a>
<b>- Скачать данные (.xls)</b>

<div class="bd-example border border-2" style='margin-top:10px'>

    <div class="table-responsive">
      <table class="table table-bordered table-hover table-sm">
        <thead class="table-dark text-center">
          <tr>
            {% comment %} <th><input class="form-check-input" type="checkbox" value="" id="select_all"></th> {% endcomment %}
            <th scope="col">#</th>
            <th scope="col">Источник</th>
            <th scope="col">Текст объявления</th>
            <th scope="col" class='text-nowrap'>Цена(₽/сотку)</th>
            <th scope="col">Площадь(соток)</th>
            <th scope="col">Адрес</th>
            <th scope="col">Дата публикации</th>
            <th scope="col">url</th>
          </tr>
        </thead>

        <tbody>
            {% for dates in page_obj %}
            <tr href='#'>
                {% comment %} <td>  <input class="form-check-input" type="checkbox" value="" id="all_ch" name='additional'></td> {% endcomment %}
                <th scope="row">{{dates.pk}}</th>

                <td>{{dates.category}} <link href="/YOUR_PATH/favicon.ico" rel="icon" type="image/x-icon"></td>

                <td><a href=" {% url "obyav" dates.pk %} " class='text-nowrap ccilka2'>{{dates.information}}</a></td>
                <td><div class='text-nowrap text-end'>{{dates.price}}</div></td>
                <td><div class='text-nowrap text-end'>{{dates.area}}</div></td>
                <td><div class='text-nowrap'>{{dates.address}}</div></td>
                <td><div class='text-nowrap'>{{dates.datas|date:'Y-m-d'}}</div></td>
                <td><a class='ccilka' href ={{dates.url}}><div class='text-nowrap'>{{dates.url}}</div></a></td>
              
              </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% include "project/paginator.html" %} 

{% endblock main-content %}
